<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:fw="http://wixtoolset.org/schemas/v4/wxs/firewall"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="LiveStreamSound Host"
           Manufacturer="Jakob Eichberger"
           Version="0.1.0.0"
           UpgradeCode="7E4D2F11-19B8-4F9F-9A0D-33B1C2F1A001"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="Eine neuere Version von !(bind.Property.ProductName) ist bereits installiert." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="LiveStreamSound Host" Level="1">
      <Files Include="$(HostBin)\**" />
      <ComponentGroupRef Id="HostShortcuts" />
      <ComponentGroupRef Id="HostFirewall" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="CompanyFolder" Name="LiveStreamSound">
        <Directory Id="INSTALLFOLDER" Name="Host" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ShortcutFolder" Name="LiveStreamSound" />
    </StandardDirectory>

    <ComponentGroup Id="HostShortcuts" Directory="ShortcutFolder">
      <Component Id="HostAppShortcut" Guid="7E4D2F11-19B8-4F9F-9A0D-33B1C2F1B101">
        <Shortcut Id="HostStartMenuShortcut"
                  Name="LiveStreamSound Host"
                  Description="Streamt System-Audio an verbundene Clients"
                  Target="[INSTALLFOLDER]LiveStreamSound.Host.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveHostShortcutFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\LiveStreamSound\Host" Name="installed"
                       Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="HostFirewall" Directory="INSTALLFOLDER">
      <Component Id="HostFirewallRules" Guid="7E4D2F11-19B8-4F9F-9A0D-33B1C2F1B102" KeyPath="yes">
        <RegistryValue Root="HKCU" Key="Software\LiveStreamSound\Host" Name="firewall"
                       Type="integer" Value="1" />
        <fw:FirewallException Id="LSS_Host_TCP"
                              Name="LiveStreamSound Host (TCP)"
                              Protocol="tcp"
                              Port="5000"
                              Scope="localSubnet"
                              Profile="all" />
        <fw:FirewallException Id="LSS_Host_UDP"
                              Name="LiveStreamSound Host (UDP)"
                              Protocol="udp"
                              Port="5001"
                              Scope="localSubnet"
                              Profile="all" />
      </Component>
    </ComponentGroup>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Package>
</Wix>
